fastapi==0.104.1
uvicorn[standard]==0.24.0
pandas==2.0.3
python-binance==1.0.22
aiohttp==3.8.6
python-telegram-bot==20.3
websockets==12.0
requests==2.31.0
numpy==1.24.4
pandas_ta==0.3.14b0
setuptools==68.2.2
sqlalchemy==2.0.23
